@model AllCarsViewModel

@{
    ViewData["Title"] = "All Cars";
}

<!-- Title -->
<h2>All Cars</h2>

<!-- Table -->
<table class="table">
    <tr>
        <th>Brand</th>
        <th>Model</th>
        <th>Year</th>
        <th>Passenger Seats</th>
        <th>Description</th>
        <th>Price Per Day</th>
        <th>Actions</th>

    </tr>

    @{
        var requests = Model.Cars as CarListingViewModel[] ?? Model.Cars.ToArray();
        for (int i = 0; i < requests.Length; i++)
        {
            var n = requests[i];

            <tr>
                <td>@n.Brand</td>
                <td>@n.Model</td>
                <td>@n.Year</td>
                <td>@n.PassengerSeats</td>
                <td>@n.Description</td>
                <td>@n.PricePerDay</td>
                @if (User.IsInRole("Admin"))
                {
                    <td>
                        <a class="hp1" asp-controller="Cars" asp-action="Edit" asp-route-id="@n.Id">Edit</a> |
                        <a class="hp1" asp-controller="Cars" asp-action="Details" asp-route-id="@n.Id">Details</a> |
                        <a class="hp1" asp-controller="Cars" asp-action="Delete" asp-route-id="@n.Id">Delete</a>
                    </td>

                }
                @if (!User.IsInRole("Admin"))
                {
                    <td>
                        @await Html.PartialAsync("_RequestPartial", new RequestCreateBindingModel
           {
               CarId = n.Id
           })
                    </td>
                }
            </tr>
        }
    }
</table>